/* App.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #111;
  color: #fff;
}

.wrapper {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #222;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.placeholder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
}

.write {
  flex: 1;
  padding: 8px;
  margin-right: 10px;
  border: none;
  background-color: transparent;
  color: #fff;
}

.add-button {
  padding: 8px 16px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #45a049;
}

.mapping {
  background-color: #333;
  border-radius: 4px;
  padding: 10px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 8px;
}

.item-text {
  margin: 0;
  flex: 1;
}

.edit-button {
  margin-left: 10px;
  padding: 6px 12px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-button:hover {
  background-color: #2980b9;
}


.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(10px); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modal-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.modal-checkbox {
  margin-right: 10px;
}

.modal-button {
  padding: 8px 12px;
  margin-left: 5px;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

.update-button {
  background-color: #28a745; 
}

.delete-button {
  background-color: #dc3545; 
}

.cancel-button {
  background-color: #007bff; 
}

.modal-button:hover {
  opacity: 0.8;
}
